<!-- header.component.html -->
<mat-toolbar class="header-container">
    <div class="header-left">
        <div class="logo-container">
            <img class="logo" src="../../../assets/images/logos/app-logo.png" alt="Logo" />
            <div class="logo-text">Weather Now</div>
        </div>

        
    </div>    

    <div class="header-right">
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/anderslmm/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="https://github.com/And3rsLMM" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</mat-toolbar>